/*
    CSCE 242 Web Applications
    Olivia Matthews 
    note: I took information from both videos did not go to class that day
*/ 

/* Structure */ 
body {
    font-family: Arial, Helvetica, sans-serif; 
}

#main-header, 
#main-footer {
    background: blanchedalmond;
    padding: 5px;
}

#main-header {
    border-radius: 5px 5px 0 0;
} 

#main-footer {
    border-radius: 0 0 5px 5px;
}

#main-content {
    background-color: darkolivegreen;
    padding: 5px; 
    width: 80%;
    margin: auto; 
}

#main-content h2 {
    color:white;
    width: 85%; 
    padding: 5px;
    margin: auto;
}

.column {
    background-color: darkgrey;
    padding: 5px;
    border-radius: 2px;
    margin: 5px; 
}

.content-selection {
    background-color: darkgrey;
    padding: 5px;
    border-radius: 2px; 
    margin: 5px;
}

.col1of2 {
    background-color: darkgrey;
}

.col1of3,
.col2of3 {
    background-color: rgb(156, 190, 156);
}

.col1of4,
.col2of4 {
    background-color: rgb(156, 190, 156);
}

/* Main Navigation */

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    display:inline-block;
    padding: 5px; 
    background-color:darkolivegreen;
    border-bottom: 1px solid blanchedalmond;
}

#main-nav a {
    text-decoration: none;
    list-style-type: none;
    color:black; 
    border-radius: 2px;
}

#main-nav a:hover {
    color:cornflowerblue; 
}

/*Typography */
#main-header h1 {
    text-align: center;
}

#main-footer p {
    text-align: center;
}

/* Larger Resolutions */ 
@media (min-width: 900px) {
    #main-nav ul,
    .flex-container {
        display:flex;
    }

    #main-nav li, 
    .content-selection, 
    .col1of3,
    .col1of4, 
    .col1of2{
        flex: 1;
    }

    
    .col2of3, 
    .col2of4 {
        flex:2;
    }

}