/*Structure*/
:root {
  --main-background: tan;
  --secondary-color:rgb(0, 153, 255);
  --front-color:white;
}

body {
  font-family: sans-serif;
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  padding: 20px;
}

h1 {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

h2 {
  color: var(--secondary-color);
  margin-bottom: 30px;
}

/*Columns*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  background-color: white;
  padding: 20px;
  border: 3px solid rgb(0, 153, 255);
  border-radius: 10px;
  width: 250px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/*geometric shape*/
.geometric-shape {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--secondary-color);
    margin: 20px auto;
} 

/*Date-box*/ 
.date-box {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.date-box:focus {
    outline: none;
    border-color: var(--secondary-color);
}

/*Image*/
#sun {
  border-radius: 8px;
  align-items: center;
  display: block;
  margin: 0 auto; 
}

footer {
  text-align: center;
  margin-top: 40px;
  color: var(--secondary-color);
}

/*Media*/
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 90%;
  }

  #sun {
    align-items: center;
  }
}