/*Structure*/
:root {
  --main-background: white;
  --secondary-color: green;
  --front-color: white;
}

body {
  text-align: center;
  font-family: "Arial", monospace;
}

.subtitle {
  font-weight: bold;
}

.section {
  margin: 30px auto;
}

/*Toggle*/
.mobile-menu {
  display: none;
  max-width: 200px;
  margin: 20px auto;
  font-weight: bold;
}

.menu-toggle {
  color: black;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
}

.menu-items {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

.menu-items li:hover {
  cursor: pointer;
}

.menu-items li:last-child {
  border-bottom: none;
}

/*Navigation*/
.horizontal-nav {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.horizontal-nav li {
  text-align: center;
  padding: 12px;
  margin: 0 10px;
  color: black;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

/* Pipe after each item except last */
.horizontal-nav li:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -12px;
}

/* Hover effect */
.horizontal-nav li:hover {
  cursor: pointer;
}

/*Class*/
.class-container {
  width: 500px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
}

/* Display slider value */
#sliderValue {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 10px 0;
}

/*media for mobile*/
@media (max-width: 600px) {
  .mobile-menu {
    display: block;
  }

  .horizontal-nav {
    display: none;
  }
}
